---
layout: default
---
{% include home-header-section.html %}

{% include profiles-section.html %}

<div class="row bg-primary p-5">
    <div class="col-12 p-2 m-4 text-center">
        <h2>Create new profile</h2>
        <a class="btn btn-secondary m-2" href="https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=new-profile.yml&title=Create+Profile+for+...">New Profile</a>
    </div>
    <div class="col-6 text-center m-4 mx-auto">
        <p>Attention: If you use a smartphone, make sure you open the link above in a webbrowser, don't use the github app (the reason is, that the feature we use called "issue forms" doesn't work in the app yet).</p>
        <p>You can find a <a class="text-light" href="https://github.com/ASKnetCommunity/LEAD/wiki/Tutorial-%22New-Profile%22-(for-ASKnet-Peers)">tutorial here</a></p>
    </div>
</div>