---
layout: default
---
{% include home-header-section.html %}

{% include profiles-section.html %}

<div id="create-new-profile" class="row mb-5">
</div>

<div class="row bg-primary p-3 no-gutters">
    <div class="col-12 mt-5 text-center">
        <h2>Create new profile</h2>
        <p><strong>You want to be in the Local Experts Action Directory? </strong> </p>
        <p>Log in to GitHub - or sign up if you don't have an account yet: </p>
        <a class="btn btn-secondary mt-4" href="https://github.com/login">1. Sign In / Up<br>to GitHub</a>
        <br><br>
        <p>If you don't have a GitHub account, you need to create one first. After clicking the button above, just click "Create an account", enter your email address, a password and a username of your choice. After entering the confirmation code, click "skip personalization" at the bottom of the page. </p>
        <p>Now you can start:</p>
        <a class="btn btn-secondary mt-4" href="https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=new-profile.yml&title=Create+Profile+for+...">2. Create<br>New Profile</a>
    </div>
    <div class="col-12 text-center">
        <p>Attention: If you use a smartphone, make sure you open the link above in a webbrowser, don't use the github app (the reason is, that the feature we use called "issue forms" doesn't work in the app yet).</p>
        <p>For more information or to change an existing profile see <a class="text-light" href="https://github.com/ASKnetCommunity/LEAD/wiki">the tutorial</a></p>
    </div>
</div>
