<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-5">
        <h1 class="text-white">{{ site.data.settings.title }}</h1>
        <h3 class="text-white">{{ site.data.settings.description }}</h3>
        <p class="font-secondary paragraph-lg text-light">{{ site.data.settings.blurb }}</p>
        <!-- <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a> -->
      </div>
    </div>
  </div>
  <!-- social media -->
  <ul class="list-unstyled ml-5 mt-3 position-fixed vertical-center zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-dark" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social media -->
</section>