<!--  Replace top menu links here -->

<li class="nav-item">
    <a class="nav-link active" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html">Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.github}}"><i class="fab fa-github"></i> View on Github</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">About</span></a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
		<h4 class="dropdown-header display-4">Create a new profile</h4>
		<p style="margin: 0 30px;">To create a profile, the best way is to write us an issue.</p>
		<div class="dropdown-divider">
		</div>
		<span class="dropdown-item">
			<a href="{{ site.github }}/issues/new" class="btn btn-primary d-block"><i class="far fa-id-card"></i> Create issue</a>
		</span>
	</div>
</li>