<section class="section bg-beige">
hier ist die section beige
</section>


<!-- profiles -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="form-group row">
          <!-- <label for="filters-search-input" class="col-2 col-form-label col-form-label-sm">search names</label> -->
          <div class="col-10">
            <input type="search" class="form-control form-control-sm js-shuffle-search" id="filters-search-input" placeholder="search by name">
          </div>  
        </div>  

        <!-- <p class="filter-label">Filter</p> -->
        
        {% assign country-array = "" | split: ',' %}
        {% assign region-array = "" | split: ',' %}
        {% assign skill-array = "" | split: ',' %}
        {% for profile in site.profiles %}
          {% unless country-array contains profile.country %}
            {% if profile.country == nil %}
              {% assign country-array = country-array | push: "Unknown" %}
            {% else %}
              {% assign country-array = country-array | push: profile.country %}
            {% endif %}
          {% endunless %}
          {% unless region-array contains profile.region %}
            {% if profile.region == nil %}
              {% assign region-array = region-array | push: "Unknown" %}
            {% else %}
              {% assign region-array = region-array | push: profile.region %}
            {% endif %}
          {% endunless %}
          {% for skills in profile.skills %}
            {% unless skill-array contains skills.name %}
              {% assign skill-array = skill-array | push: skills.name %}
            {% endunless %}
          {% endfor %}
        {% endfor %}

        {% assign country-array = country-array | sort | uniq %}
        {% comment %} {% if country-array contains "Unknown" %}
          {% assign country-array = country-array | join: "|" | replace: "|Unknown|","|" | split: "|" | reverse | unshift: "Unknown" | reverse %}
        {% endif %} {% endcomment %}
        {% assign region-array = region-array | sort | uniq %}
        {% comment %} {% if region-array contains "Unknown" %}
          {% assign region-array = region-array | join: "|" | replace: "|Unknown|","|" | split: "|" | reverse | unshift: "Unknown" | reverse %}
        {% endif %} {% endcomment %}

        <!-- <div class="btn btn-sm btn-primary filter-reset">reset filters </div> -->
        
        <div class="dropdown" style="float:left; margin-right:10px;">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countries</button>
          <div class="dropdown-menu mr-2 mb-2 filter-country">
            <button class="dropdown-item all" type="button" data-country="All">All</button>
            {% for country in country-array %}  
            <button class="dropdown-item" type="button" data-country="{{ country }}">{{ country }}</button>
            {% endfor %}
          </div>
        </div>

        <div class="dropdown" style="float:left; margin-right:10px;">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Regions</button>
          <div class="dropdown-menu sm mr-2 mb-2 filter-region">
            <button class="dropdown-item all" type="button" data-region="All">All</button>
            {% for region in region-array %}
            <button class="dropdown-item" type="button" data-region="{{ region }}">{{ region }}</button>
            {% endfor %}
          </div>
        </div>

        <div class="dropdown" style="float:left; margin-right:10px;">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skills</button>
          <div class="dropdown-menu mr-2 mb-2 filter-skill">
            <button class="dropdown-item all" type="button" data-skill="All">All</button>
            {% for skill in skill-array %}
            <button class="dropdown-item" type="button" data-skill="{{ skill }}">{{ skill }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <div class="row my-shuffle-container">
      {% for profile in site.profiles %}
        {% if profile.country == nil or profile.country == "Unknown" %}
          {% assign country = "Unknown" %}
        {% else %}
          {% assign country = profile.country %}
        {% endif %}
        {% if profile.region == nil or profile.region == "Unknown" %}
          {% assign region = "Unknown" %}
        {% else %}
          {% assign region = profile.region %}
        {% endif %}
        {% assign skills-array = "" | split: ',' %}
        {% if profile.skills %}   
          {% for skill in profile.skills %}
            {% assign skills-array = skills-array | push: skill.name %}
          {% endfor %}
          {% assign skills-json = skills-array | jsonify | replace: '"', '&quot;' %}
        {% else %}
          {% assign skills-json = "[&quot;&quot;]" %}
        {% endif %}
        {% assign skills-attribute = 'data-skills="' | append: skills-json | append: '"' %}
        <div class="col-lg-4 col-6 mb-4 profile-item" data-countries="[&quot;{{ country }}&quot;]" data-regions="[&quot;{{ region }}&quot;]" {{ skills-attribute }}>
          <div class="position-relative rounded hover-wrapper">
            <img src="{{ site.url }}/{{ profile.image }}" alt="profile-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <h4 class="text-light profile-item__name">{{ profile.title }}</h4>
                {% if profile.hub %}
                  <p class="text-light">Hub: {{ profile.hub }}</p>
                {% endif %}
                <a class="btn btn-light btn-sm" href="{{ site.url }}{{  profile.url | prepend: site.baseurl }}">view profile</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-1@sm col-1@xs my-sizer-element"></div>
  </div>
</div>

<!-- Randomization -->
<script>
  var profs = document.querySelector('.my-shuffle-container');
  for (var i = profs.children.length; i >= 0; i--) {
    profs.appendChild(profs.children[Math.random() * i | 0]);
  }
</script>
<!-- END Randomization -->

<!-- /profiles -->
