
<!-- profiles -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="form-group row">
          <!-- <label for="filters-search-input" class="col-2 col-form-label col-form-label-sm">search names</label> -->
          <div class="col-10">
            <input type="search" class="form-control form-control-sm js-shuffle-search" id="filters-search-input" placeholder="search names">
          </div>  
        </div>  

        <!-- <p class="filter-label">Filter</p> -->
        <div class="btn-group btn-group-sm mr-2 mb-2 filter-country">
          Country: 
          {% for label in site.data.settings.profile-country-labels %}
            <button class="btn btn-dark" data-country="{{ label.title }}">{{ label.title }}</button>
          {% endfor %}
        </div>

        <div class="btn-group btn-group-sm mr-2 mb-2 filter-region">
          Region: 
          <button class="btn btn-secondary" data-region="Rhino Camp">Rhino Camp</button>
          <button class="btn btn-secondary" data-region="Juba">Juba</button>
          <button class="btn btn-secondary" data-region="West Nile">West Nile</button>
          <button class="btn btn-secondary" data-region="Upper Nile">Upper Nile</button>
          <button class="btn btn-secondary" data-region="Adjumani, Pagirinya Refugee Settlement">Adjumani, Pagirinya Refugee Settlement</button>
          <button class="btn btn-secondary" data-region="Unknown">Unknown</button>
        </div>
        
        <div class="btn-group btn-group-sm mr-2 mb-2 filter-skill">
          Skills: 
          <button class="btn btn-primary" data-skill="Web & Software">Web & Software</button>
          <button class="btn btn-primary" data-skill="Hardware & Repair">Hardware & Repair</button>
          <button class="btn btn-primary" data-skill="Community & Moderation">Community & Moderation</button>
          <button class="btn btn-primary" data-skill="Organizational Development">Organizational Development</button>
          <button class="btn btn-primary" data-skill="Media & Art">Media & Art</button>
          <button class="btn btn-primary" data-skill="Data Security & Research">Data Security & Research</button>
          <button class="btn btn-primary" data-skill="Open Source & Knowledge">Open Source & Knowledge</button>
          <button class="btn btn-primary" data-skill="Sustainability">Sustainability</button>
        </div>
        
      </div>
    </div>


    <div class="row my-shuffle-container">
      {% for profile in site.profiles %}
        {% if profile.country == '' %}
          {% assign profile.country = 'Unknown' %}
        {% endif %}
        {% if profile.region == '' %}
          {% assign profile.region = 'Unknown' %}
        {% endif %}
        {% assign skills-array = "" | split: ',' %}
        {% if profile.skills %}   
          {% for skill in profile.skills %}
            {% assign skills-array = skills-array | push: skill.name %}
          {% endfor %}
          {% assign skills-json = skills-array | jsonify | replace: '"', '&quot;' %}
        {% else %}
          {% assign skills-json = "[&quot;&quot;]" %}
        {% endif %}
        {% assign skills-attribute = 'data-skills="' | append: skills-json | append: '"' %}
        <div class="col-lg-4 col-6 mb-4 profile-item" data-countries="[&quot;{{ profile.country }}&quot;]" data-regions="[&quot;{{ profile.region }}&quot;]" {{ skills-attribute }}>
          <div class="position-relative rounded hover-wrapper">
            <img src="{{ site.url }}/{{ profile.image }}" alt="profile-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <h4 class="text-light profile-item__name">{{ profile.title }}</h4>
                {% if profile.hub %}
                  <p class="text-light">Hub: {{ profile.hub }}</p>
                {% endif %}
                <a class="btn btn-light btn-sm" href="{{ site.url }}{{  profile.url | prepend: site.baseurl }}">view profile</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>



    <!-- <figure class="col-3@xs col-4@sm col-2@md picture-item" data-countries='["Uganda"]' data-regions='["Rhino Camp", "Juba", "Adjumani"]' data-date-created="2017-04-30" data-title="Lake Walchen">
      <div class="picture-item__inner">
        <div class="aspect aspect--16x9">
          <div class="aspect__inner">
            <img src="https://images.unsplash.com/photo-1493585552824-131927c85da2?ixlib=rb-0.3.5&auto=format&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=284&h=160&fit=crop&s=6ef0f8984525fc4500d43ffa53fe8190" srcset="https://images.unsplash.com/photo-1493585552824-131927c85da2?ixlib=rb-0.3.5&auto=format&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=284&h=160&fit=crop&s=6ef0f8984525fc4500d43ffa53fe8190 1x, https://images.unsplash.com/photo-1493585552824-131927c85da2?ixlib=rb-0.3.5&auto=format&q=55&fm=jpg&dpr=2&crop=entropy&cs=tinysrgb&w=284&h=160&fit=crop&s=6ef0f8984525fc4500d43ffa53fe8190 2x"
              alt="A deep blue lake sits in the middle of vast hills covered with evergreen trees" />
          </div>
        </div>
        <div class="picture-item__details">
          <figcaption class="picture-item__title"><a href="https://unsplash.com/photos/zshyCr6HGw0" target="_blank" rel="noopener">Lake Walchen</a> Uganda</figcaption>
          <p class="picture-item__tags hidden@xs">nature</p>
        </div>
      </div>
    </figure>
    <figure class="col-3@xs col-8@sm col-4@md picture-item picture-item--overlay" data-countries='["South Sudan"]' data-regions='["Juba"]' data-date-created="2016-07-01" data-title="Golden Gate Bridge">
      <div class="picture-item__inner">

        <img src="https://images.unsplash.com/photo-1467348733814-f93fc480bec6?ixlib=rb-0.3.5&auto=format&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=584&h=329&fit=crop&s=2590c736835ec6555e952e19bb37f06e" srcset="https://images.unsplash.com/photo-1467348733814-f93fc480bec6?ixlib=rb-0.3.5&auto=format&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=584&h=329&fit=crop&s=2590c736835ec6555e952e19bb37f06e 1x, https://images.unsplash.com/photo-1467348733814-f93fc480bec6?ixlib=rb-0.3.5&auto=format&q=55&fm=jpg&dpr=2&crop=entropy&cs=tinysrgb&w=584&h=329&fit=crop&s=2590c736835ec6555e952e19bb37f06e 2x"
          alt="Looking down over one of the pillars of the Golden Gate Bridge to the roadside and water below" />
        <div class="picture-item__details">
          <figcaption class="picture-item__title"><a href="https://unsplash.com/photos/RRNbMiPmTZY" target="_blank" rel="noopener">Golden Gate Bridge</a> South Sudan</figcaption>
          <p class="picture-item__tags hidden@xs">city</p>
        </div>
      </div>
    </figure> -->
    <div class="col-1@sm col-1@xs my-sizer-element"></div>
  </div>
</div>

<!-- Randomization -->
<!-- <script>
  var profs = document.querySelector('.my-shuffle-container');
  for (var i = profs.children.length; i >= 0; i--) {
    profs.appendChild(profs.children[Math.random() * i | 0]);
  }
</script> -->
<!-- END Randomization -->

<!-- /profiles -->
