// Color Variables
$primary-color: #DFAF5F;
$secondary-color: #7B8C37;
$text-color: #4c4c4c;
$text-color-dark: rgb(32, 32, 32);
$text-color-light: #fff;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$beige: #F0EEE5;
$brown: #A46131;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
