---
layout: default
---
<section class="section bg-primary position-relative"></section>
<section class="section bg-beige pb-4">
  <div class="container">
    <div class="row pl-3">
      <h1 class="mb-4">{{ page.title | escape }}</h1>
    </div>
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        {% if page.gallery %}
        <div class="profile-gallery-slider">
            {% for gallery in page.gallery %}
              <img src="{{ site.baseurl }}/{{ gallery.url }}" alt="" />
            {% endfor %}
        </div>
        
        {% else %}
        <img src="{{page.image | relative_url }}" class="img-fluid img-portrait mr-lg-5 mb-4" alt="{{page.title}}">
        {% endif %}
      </div>
      <div class="col-lg-7 col-sm-12">
        {% if page.country %} 
        <h4>Country:</h4>
        <p>{{ page.country }}</p>
        {% endif %}
        {% if page.region %} 
        <h4>Region:</h4>
        <p>{{ page.region }}</p>
        {% endif %}
        {% if page.hub %} 
        <h4>Hub:</h4>
        <p>{{ page.hub }}</p>
        {% endif %}
        {% if page.languages %} 
        <h4>Language(s):</h4>
        <p>{{ page.languages }}</p>
        {% endif %}
        {% if page.skills %}              
        <div class="panel-group mb-4" style="clear:both; margin-top:20px;" id="accordion" role="tablist" aria-multiselectable="true">
          <h4>Skills:</h4>
          {% for skill in page.skills %}
          <div class="panel panel-default rounded">
            <div class="panel-heading" role="tab" id="heading{{ skill.number }}">
                <h4 class="panel-title">
                    <a class="collapsed rounded" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ skill.number }}" aria-expanded="false" aria-controls="collapse{{ skill.number }}">
                      {{ skill.name }}
                        <span> </span>
                    </a>
                </h4>
            </div>
            <div id="collapse{{ skill.number }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p>{{ skill.qualification | markdownify }}</p>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <h4>Contact:</h4>
        {% include social-media.html %} 
      </div>
    </div>
  </div>
</section>
<section class="section pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-4">
        <div class="content fs-3">
          {{ content }}
        </div>
        <div class="mt-5 text-center">
          <a href="https://github.com/ASKnetCommunity/LEAD/blob/content/_profiles/{{ page.slug }}.md" class="btn btn-xs btn-primary py-2" target="_blank">Edit Profile on GitHub &nbsp; <i class="ti-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

<!-- other profiles -->
<section class="section bg-beige">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Other Profiles</h2>
      </div>
      {% for profile in site.profiles offset:0 limit:3 %}
      {% include profile.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /other profiles -->